@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 84.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  text-align: justify;
}

.wrapper {
  max-width: 1000px;
  margin: 2rem auto;
}

/* Header */
header {
  background-color: #93DA97;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 2rem;
}

.header-image {
  height: 100%;
  border-radius: 50%;
  filter: grayscale(80%);
}

.name-and-role {
  text-align: center;
}

header h1 {
  font-size: 40px;
  color: #212f3d;
}

header p {
  font-size: 16px;
  color: #2c3e50;
}

/* About */
.about {
  margin-block: 2rem;
  background-color: aliceblue;
  padding: 1rem;
}

/* Skills */
.skills {
  margin-block: 2rem;
  background-color: aliceblue;
  padding: 1rem;
  font-weight: 600;
}

.skills-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 1rem;
}

.section {
  background-color: #ADEED9;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

/* Experience */
.experience {
  margin-block: 2rem;
  background-color: aliceblue;
  padding: 1rem;
}

/* Contact */
.contact-info {
  margin-block: 2rem;
  background-color: #93DA97;
  padding: 1rem;
  text-align: center;
}

.contact-info * {
  text-align: center;
}
